<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <span fxFlex></span>

  <ng-container>
    <button
      *ngFor="let menuItem of menuItems"
      [matTooltip]="menuItem.toolTipText"
      [routerLink]="[menuItem.routerLink]"
      aria-label="menuItem.toolTipText"
      mat-icon-button
    >
      <fa-icon
        *ngIf="!!menuItem.fasIcon"
        [icon]="['fas', menuItem.fasIcon]"
      ></fa-icon>

      <mat-icon *ngIf="!!menuItem.matIcon">{{ menuItem.matIcon }}</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
